.own-mis{
    color: red;
}
.bk-al{
    text-align: justify;
    font-family: sans-serif;
}

.b1{
    height: 20px;
    width: 20px;
}
.ser{
   
    margin: 20px;
     text-align: justify;
}
.cs-sz{
    font-size: 14px;
    text-align: justify;
    margin-bottom: 10px;
}
.no-ft{
    list-style: none;
}

.my-frm{
    margin-top: 200px;
}
.news{
    height: 200px;
    width: 200px;
    margin-bottom: 20px;
}